// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  margin-top: 100px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;

  @media (max-width: 1350px){
    grid-template-columns: 1.1fr 0.9fr;
  }

  @media (max-width: 1110px){
    grid-template-columns: 1.3fr 0.7fr;
  }

  @media (max-width: 940px){
    grid-template-columns: 2fr 0fr;
  }
}

.footer-grid__img {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 50%;
  min-height: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
@media (max-width: 940px){
    display: none;
}
}

.grid-left {
  padding: 50px 50px 15px 50px;
  background: #1e2e36;
@media (max-width: 570px){
    padding: 30px 20px 15px 20px;
}
  
}

.grid-left__logo {
  display: block;
  width: 360px;
  height: 75px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 940px){
     margin: 0 auto;
  }

  @media (max-width: 440px){
    width: 250px;
    height: 52px;
  }
}

.grid-left__link {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;

  span {
    color: #44c697;
  }

  &:hover {
    color: #44c697;
  }

  @media (max-width: 1680px){
      font-size: 14px;
  }
}

.grid-left__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.grid-left__box {
  display: flex;
  margin: 50px 0 80px;
  width: 100%;

  @media (max-width: 940px){
      justify-content: center;
  }

  @media (max-width: 570px){
     justify-content: space-between;
     flex-wrap: wrap;
     margin-bottom: 30px;
  }

  @media (max-width: 440px){
      flex-direction: column;
  }
}

.grid-left__list--1 {
  width: 150px;
  margin-right: 25px;

  @media (max-width: 1680px){
    width: 90px;
  }
}

.grid-left__list--2 {
  max-width: 220px;
  margin-right: 50px;

  @media (max-width: 570px){
    margin-right: 25px;
 }

 @media (max-width: 440px){
  margin-top: 30px;
}
}

.grid-left__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-right: 5px;
}

.grid-left__icon--phone {
  fill: none;
  stroke: #fff;
}

.grid-left__contacts {
  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;

  @media (max-width: 1680px){
    font-size: 14px;
  }

  @media (max-width: 519px){
    margin-top: 30px;
 }
}

.grid-left__phone {
  span {
    display: block;
    padding-left: 30px;
  }
}

.grid-left__geo,
.grid-left__time,
.grid-left__phone {
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

.grid-left__phone {
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #44c697;
    cursor: pointer;

    svg {
      stroke: #44c697;
      cursor: pointer;
    }
  }

  svg {
    transition: all 0.3s ease-in-out;
  }
}

.grid-left__social {
  div {
    margin-top: 15px;
  }
  .grid-left__icon {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    transition: all 0.3s ease-in-out;

    &:hover {
      fill: #44c697;
      cursor: pointer;
    }
  }
}

.grid-left__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Proxima Nova Rg";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;

  @media (max-width: 1680px){
      font-size: 12px;
  }

  @media (max-width: 570px){
      flex-direction: column;
  }

  @media (max-width: 440px){
      justify-content: start;
      align-items: start;
  }
}

.grid-left__copy {
  @media (max-width: 570px){
    margin-bottom: 10px;
}
}
