.icon { 
	width: 50px; 
	height: 50px;
	margin: .5em;
	fill: red;
 }
 

/*
<svg class="icon">
  <use xlink:href="sprite.svg#arrow-down"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#bed-tab"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#chair-tab"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#facebook"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#instagram"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#kitchen-tab"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#location-footer"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#shalving-tab"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#shopping-cart"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#smartphone"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#sofa-tab"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#telegram"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#wardrobe-tab"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#Arrow Left"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#valendar-footer"></use>
</svg>

<svg class="icon">
  <use xlink:href="sprite.svg#Arrow Right"></use>
</svg>

*/